<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>SITE_MAPS_FILE_PATH</param-name>
        <param-value>/WEB-INF/siteMaps.properties</param-value>
    </context-param>
    <filter>
        <filter-name>FilterDispatcher</filter-name>
        <filter-class>datpq.filter.FilterDispatcher</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterDispatcher</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>datpq.listener.MyServletListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>datpq.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItemToCartServlet</servlet-name>
        <servlet-class>datpq.controller.AddItemToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveItemServlet</servlet-name>
        <servlet-class>datpq.controller.RemoveItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteItemServlet</servlet-name>
        <servlet-class>datpq.controller.DeleteItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>datpq.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProductServlet</servlet-name>
        <servlet-class>datpq.controller.ViewProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccountServlet</servlet-name>
        <servlet-class>datpq.controller.CreateAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchLastnameServlet</servlet-name>
        <servlet-class>datpq.controller.SearchLastnameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>datpq.controller.DeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>datpq.controller.UpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveItemServlet</servlet-name>
        <url-pattern>/RemoveItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteItemServlet</servlet-name>
        <url-pattern>/DeleteItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchLastnameServlet</servlet-name>
        <url-pattern>/SearchLastnameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProductServlet</servlet-name>
        <url-pattern>/ViewProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItemToCartServlet</servlet-name>
        <url-pattern>/AddItemToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccountServlet</servlet-name>
        <url-pattern>/CreateAccountServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--    <welcome-file-list>
        <welcome-file>DispatchServlet</welcome-file>
    </welcome-file-list>-->
    <resource-ref>
        <res-ref-name>DaicaDatDS</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
